---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="IEDC Kerala Startup Mission - Schemes">
  <section class="faq relative z-[30]">
    <!-- Container for demo purpose -->
    <!-- <div class="container my-24 mx-auto md:px-6">
      <section class="mb-32">
        <h2 class="mb-16 text-center text-3xl font-bold">
          Frequently asked questions
        </h2>

        <div class="grid gap-6 lg:grid-cols-3">
          <div class="mb-6 md:mb-8 lg:mb-12">
            <p class="mb-4 font-bold">
              What is the Innovation and Entrepreneurship Development Centre
              (IEDC)??
            </p>
            <p class="text-neutral-500 ">
              LThe IEDC is a platform dedicated to fostering innovation,
              entrepreneurial skills, and startups. It provides students with
              access to technology, mentorship, early-stage capital, and
              external connections to kickstart their entrepreneurial journeys.
            </p>
          </div>

          <div class="mb-6 md:mb-8 lg:mb-12">
            <p class="mb-4 font-bold">
              Who can participate in the IEDC community?
            </p>
            <p class="text-neutral-500 ">
              The IEDC community is open to students who are passionate about
              innovation and entrepreneurship. It welcomes anyone interested in
              exploring entrepreneurial opportunities, whether you're a business
              enthusiast, coder, designer, or simply eager to learn.
            </p>
          </div>

          <div class="mb-6 md:mb-8 lg:mb-12">
            <p class="mb-4 font-bold">
              How can I get involved with the IEDC community?
            </p>
            <p class="text-neutral-500 ">
              To get involved, simply become a member of the IEDC by signing up
              on our website or joining one of our local chapters on your
              campus. You can participate in events, workshops, hackathons, and
              access resources and mentorship.
            </p>
          </div>

          <div class="mb-6 md:mb-8 lg:mb-12">
            <p class="mb-4 font-bold">
              What resources and support does the IEDC offer to its members?
            </p>
            <p class="text-neutral-500 ">
              IEDC provides a wide range of resources, including access to
              co-working spaces, prototyping facilities, mentorship programs,
              funding opportunities, networking events, and workshops on various
              entrepreneurial topics.
            </p>
          </div>

          <div class="mb-6 md:mb-8 lg:mb-12">
            <p class="mb-4 font-bold">
              Are there any fees associated with joining the IEDC community?
            </p>
            <p class="text-neutral-500">
              Membership in the IEDC community is typically free for students.
              However, certain events or specialized programs may have
              associated fees, which will be communicated in advance.it
            </p>
          </div>

          <div class="mb-6 md:mb-8 lg:mb-12">
            <p class="mb-4 font-bold">
              How can I stay updated on IEDC events and activities?
            </p>
            <p class="text-neutral-500 ">
              You can stay updated by visiting our website regularly and
              subscribing to our newsletter. Follow us on social media for
              real-time updates, and check our events calendar to see what's
              happening in your area. We also send out email notifications for
              upcoming events to our members.
            </p>
          </div>
        </div>
      </section>
    </div> -->
    <!-- Container for demo purpose -->

    <section class="py-10  sm:py-16 lg:py-24">
      <div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
          <div class="max-w-2xl mx-auto text-center">
              <h2 class="text-3xl font-bold leading-tight text-[#172177] sm:text-4xl lg:text-5xl">Questions & Answers</h2>
              <p class="max-w-xl mx-auto mt-4 text-base leading-relaxed text-gray-500">Explore the common questions and answers about Celebration</p>
          </div>
  
          <div class="grid grid-cols-1 mt-12 md:mt-20 md:grid-cols-2 gap-y-16 gap-x-20">
              <div class="flex items-start">
                  <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-[#172177] rounded-full">
                      <span class="text-lg font-semibold text-gray-200">?</span>
                  </div>
                  <div class="ml-4">
                      <p class="text-xl font-semibold text-gray-800"> What is the Innovation and Entrepreneurship Development Centre (IEDC)?</p>
                      <p class="mt-4 text-base text-gray-500">The IEDC is a platform dedicated to fostering innovation, entrepreneurial skills, and startups. It provides students with access to technology, mentorship, early-stage capital, and external connections to kickstart their entrepreneurial journeys.</p>
                  </div>
              </div>
  
              <div class="flex items-start">
                  <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-[#172177] rounded-full">
                      <span class="text-lg font-semibold text-gray-200">?</span>
                  </div>
                  <div class="ml-4">
                      <p class="text-xl font-semibold text-gray-800">Who can participate in the IEDC community?</p>
                      <p class="mt-4 text-base text-gray-500"> The IEDC community is open to students who are passionate about innovation and entrepreneurship. It welcomes anyone interested in exploring entrepreneurial opportunities, whether you're a business enthusiast, coder, designer, or simply eager to learn.</p>
                  </div>
              </div>
  
              <div class="flex items-start">
                  <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-[#172177] rounded-full">
                      <span class="text-lg font-semibold text-gray-200">?</span>
                  </div>
                  <div class="ml-4">
                      <p class="text-xl font-semibold text-gray-800">How can I get involved with the IEDC community?</p>
                      <p class="mt-4 text-base text-gray-500">To get involved, simply become a member of the IEDC by signing up on our website or joining one of our local chapters on your campus. You can participate in events, workshops, hackathons, and access resources and mentorship.</p>
                  </div>
              </div>
  
              <div class="flex items-start">
                  <div class="flex items-center justify-center flex-shrink-0 w-8 h-8 bg-[#172177] rounded-full">
                      <span class="text-lg font-semibold text-gray-200">?</span>
                  </div>
                  <div class="ml-4">
                      <p class="text-xl font-semibold text-gray-800">How can I stay updated on IEDC events and activities?</p>
                      <p class="mt-4 text-base text-gray-500">You can stay updated by visiting our website regularly and subscribing to our newsletter. Follow us on social media for real-time updates, and check our events calendar to see what's happening in your area. We also send out email notifications for upcoming events to our members.</p>
                  </div>
              </div>
          </div>
  
          <div class="flex items-center justify-center mt-12 md:mt-20">
              <div class="px-8 py-4 text-center bg-[#172177] rounded-full">
                  <p class="text-gray-50">Didn't find the answer you are looking for? <a href="#" title="" class="text-yellow-300 transition-all duration-200 hover:text-yellow-400 focus:text-yellow-400 hover:underline">Contact our support</a></p>
              </div>
          </div>
      </div>
  </section>
  






  </section>
</Layout>
