---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="IEDC Fund Updates.">
  <section class="funds relative min-h-screen p-4 pt-12 z-10">
    <div class="funds-wrapper relative shad">
      <h1 class="text-3xl text-center font-semibold text-[rgb(51,51,51)] mb-2">
        IEDC Fund Updates
      </h1>
      <hr class="md:w-[4%] h-[4px] bg-[#0072B6] mx-auto mb-5" />

      <div
        class="fund-links mx:auto md:grid md:gap-6 lg:grid-cols-4 lg:grid-rows-2 md:grid-rows-4 md:grid-cols-2 place-content-center"
      >
        <Card
          title="Annual Report Submission | IEDC Accreditation (Please ignore if already submitted IEDC Fund request)"
          href="#"
        />
        <Card title="Submit IEDC Execom Details" href="#" />
        <Card title="First Time IEDC Fund Request" href="#" />
        <Card title="Submit Startups and IPs from IEDCs" href="#" />
        <Card title="Accreditation Request Submitted IEDCs" href="#" />
        <Card title="List of Startups / IPs from IEDC" href="#" />
        <Card title="Count of Startups from IEDCs" href="#" />
        <Card title="Execom List Submitted IEDCs" href="#" />
      </div>
      <!-- <hr class="w-[80%] h-[2px] bg-slate-800 mt-7 mx-auto mb-5 shadow-md" /> -->
    </div>
    <div class="fund-req p-5">
      <h1 class="text-3xl text-center font-semibold text-[#333333] mt-8">
        <span class="overline decoration-[#004C9F] decoration-[3px]">IE</span>DC
        | Fund Requests
      </h1>
      <div
        class="note max-w-[500px] lg:w-[300px] bg-white p-6 rounded-xl font-thin shadow-lg lg:float-right lg:mx-3 mx-auto relative"
      >
      <div class="notes-triangle rounded-tl-lg">

      </div>
        <p>
          <!-- <hr class="w-[10%]  h-[7px] bg-[#0072B6] mb-2" /> -->
          Please note: <br />

          <span class="font-bold">></span>
          <span class="font-semibold"
            >Submission of the documents is mandatory for all IEDCs
          </span><br />

          <span class="font-bold"> ></span>Last Date existing IEDCs : Closed <br
          />
          <span class="font-bold"> ></span>First time grant request : <span
            class="font-semibold"
            >15 June 2023
          </span><br />
          <span class="font-bold"> ></span>Please read the complete page before
          filling this up | Templates available at the base of the page
        </p>
      </div>
      <div class="funds-content">
        <div class="m-5 leading-8">
          In line with the financial procedures to be carried out with respect
          to IEDC, it is mandatory to submit the Utilization Certificate and the
          Statement of Expenditure by the end of every financial year. The same
          will be considered for accreditation and financial due diligence as
          well. All IEDCs that received funds on or before 31 December 2022
          should submit utilisation certificate (in the prescribed format) as
          part of the same.<br />We are accepting requests for funds from IEDCs
          (IEDC grant) for this financial year. KSUM will be accepting grant
          release one time a year basis for the existing IEDCs. The last date
          for receiving the request is 30 April 2023, 22:00 Hours. Please apply
          for funds in the below link (Activated on 01 April 2023). <br> <br><ul class="list-decimal">
            <li>
              The prime objective of the IEDC is to identify innovative scalable
              ideas from institutions and connect them to Kerala Startup Mission
              or provide them with all the necessary ingredients either directly
              or through various stakeholders that would convert them to
              startups.
            </li><li>
              Aim of IEDC should be to generate At Least one Startup (a startup
              with a product) from each IEDC every year and should be registered
              under KSUM (<span class="font-semibold">Startup having KSUM Unique ID</span>/ <span class="underline text-[#172177]"><a
              href="https://www.startupindia.gov.in/content/sih/en/startup-scheme.html"
               class=" font-semibold"
            >
              Registered DPIIT</a></span> )
            </li>
              
            <li>
              IEDCs should ensure the design and delivery of programmes as per
              the provisions mentioned in the IEDC Nodal Officer's Handbook and
              Fund Utilisation Guideline of KSUM.
            </li><li>
              Each Institution should have at least two Nodal Officers from
              different departments and at least one should be a female, in
              charge of the IEDCs and any change in Nodal Officer or Head of the
              Institution should not affect the activities or Fund related
              matters in IEDC. The Institution will be solely responsible for
              all IEDC ups and downs.
            </li><li>
              The IEDC should have a dedicated space of at least 1000 Sq Ft with
              proper branding with IEDC and KSUM logo for grant release.
            </li><li>
              All the transactions from Kerala Startup Mission shall be operated
              through a dedicated joint account started in a scheduled /
              nationalised bank. This account shall be operated jointly by
              Principal and Nodal Officer/CFO/ Finance Lead.
            </li>
            <div class="more hidden text-left">
            <li>
              Institutions should confirm receipt / non-receipt of funds to
              their IEDC account within 3 days of receipt of the amount in IEDC
              Account / Mail from Kerala Startup Mission regarding fund release.
            </li><li>
              The financial assistance can be used for conducting workshops,
              bootcamps, ideathons, Hackathons and innovation &
              techno-entrepreneurial activities which are helpful for the
              Innovators <span class="font-semibold">under the IEDC</span> in the region with the support of KSUM/
              Community Partners associated with KSUM/ Accredited Industry Body/
              Corporates.
            </li><li><span class="font-semibold">
              The financial assistance cannot be used for tech-fests,
              sponsorship, infrastructure development, advertisement and paid PR
              activities.</span>
            </li><li><span class="font-semibold">
              The fund cannot be used for payment of Rent and other utility
              charges, purchase of assets, purchase of high-end devices (can use
              devices available with KSUM, other IEDCs and TBIs, but can be used
              on orders from KSUM), Patenting expenses (Innovators can apply for
              patent reimbursement scheme of Kerala Startup Mission), towards
              manpower payment, payment of TA/DA and fuel expenses (in specific
              cases KSUM will inform through the mail sanctioning utilisation).</span>
            </li><li><span class="font-semibold">
              The fund cannot be used for application fees/participation fees,
              TA/DA and fuel expenses or any payment for events organised by
              other institutes/other IEDCs.</span>
            </li><li>
              Honorarium for Nodal Officers / Faculty cannot be met from the
              IEDC Grant
            </li><li>
              The institution may bring in additional funds through institution
              contributions/ sponsorships/ industry connections/ other
              government or non govt. support schemes which can be used for that
              not covered by IEDC (grant Subject to the satisfactory compliance
              of corresponding fund utilisation guideline).
            </li><li>
              The detailed fund utilisation report shall be prepared every
              quarter by the IEDC nodal officer and the consolidated shall be
              submitted to Kerala Startup Mission before 30 April every year
              along with necessary documents for fund release in the application
              form.
            </li><li><span class="font-semibold">
              Impact created by the IEDC will be evaluated by the "Accreditation
              of IEDCs in Colleges - Kerala Ranking Framework" based on the data
              submitted by the institution, data submitted here will be used for
              the same, additional data if any shall be collected by mail.</span>
            </li><li><span class="font-semibold">
              IEDCs are expected to form the new execom during the month of
              April and work along the previous execom for few months (May-
              June). The new team should work on the action plan for the next
              year, that is submitted. (This is mandated as courses in most
              universities ends in April to July every year and if any final
              year students are present in the execom they will be busy with
              their projects and closing year works. As a result some IEDCs are
              observed to be not running any activities during this period.
              Selection of Execom at an earlier time will prevent such stagnant
              phases.)</span>
            </li>
          </div>
          <button class="mt-3 read-button bg-[#0072B6] p-3 text-white rounded-md shadow-md hover:bg-[#004C9F] active:bg-[#172177]"> 
            <span class="toggle_text "> Read More </span><svg id='arrow-svg' class="inline mx-1 mb-[2px]" fill="#ffffff" height="15px" width="15px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-66 -66 462.00 462.00" xml:space="preserve" stroke="#ffffff" stroke-width="33"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path> </g></svg>
            
          </button>
          </ul>
        </div>
        
        <div class=" notes-sub md:flex rounded-lg bg-white">
          <div class="text-black leading-7  md:w-1/3 m-5 md:border-r-[2px] p-4  border-r-zinc-200">
            <span class="font-bold"><svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg></span> Submitting the following details is mandatory for fund release in the fund request form under the report section: <br><br><ul class="list-decimal"> <li> <form> <span class="underline text-[#172177]"><a href="https://docs.google.com/forms/d/1G6t4MwF0ql5Sbgh3nVEi44QCcR53kwijxG81-288hWE/edit" target="_blank" >Startups from Institution in the</a></span> form till date (Without CIN/DIPP No/ Unique ID will make the idea to be considered as Ideation stage/pre incubation stage. If unfilled no will be considered as zero)</li><li><span class="underline text-[#172177]"><a href="https://docs.google.com/forms/d/1G6t4MwF0ql5Sbgh3nVEi44QCcR53kwijxG81-288hWE/edit" target="_blank">Patents Generated from the Institution</a></span> (if unfilled no will be considered as zero)</li><li>Previous activity reports</li><li><span class="underline text-[#172177]"><a href="https://docs.google.com/spreadsheets/d/1oYr7nN5xWuy6zRkLjdebT5zFrX_eU-Yjh9n82hJMu1I/edit#gid=0" target="_blank">Action Plan for the coming year</a></span> (Should be submitted when requested)</li>
          </div>
          <div class="text-black  leading-7  md:w-1/3 m-5 md:border-r-[2px] p-4 border-r-zinc-200">
            <span class="font-bold"><svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg></span> Please keep the following information ready while submitting the fund request: <br><br><ul class="list-decimal"><li><span class="underline text-[#172177]"><a href="https://docs.google.com/spreadsheets/d/1yk6PQdBpQQAZPIWZ6Tnfn_GMGZmu453Ql_GztiUULuE/edit#gid=0" target="_blank">Details of PoCs</a></span> (If more faculties are involved in IEDC activities)</li><li>Details of Nodal Officers</li><li>Details of Head of the institute</li><li><span class="underline text-[#172177]"></span><a href="https://docs.google.com/forms/d/1fuG7JcEEc6hxEx6RLoifhsCxUHFPjy_YKUvV3x6B9BY/edit" target="_blank">IEDC Execom</a> 2023-2024 details are submitted <span class="underline text-[#172177]"><a href="https://docs.google.com/spreadsheets/d/1oAeNYYSpQkeun20pVx3K2qKLkHFyivj-bSnfymQHINQ/edit#gid=0" target="_blank">and the excel sheet is ready</span></a></li><li>Bank Account Details are submitted</li>           </div>
           <div class="text-black  leading-7 p-4 md:w-1/3 m-5">
            <span class="font-bold"><svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg></span> Please Keep the following documents ready in specified Format: <br> <br><ul class="list-decimal"><li>IEDC Activities Report 2022 - 2023</li><li>IEDC Activities Report - Previous Years</li><li>Auditors Report, Fund Utilisation Certificate & Signed Statement of Expenditures with UDIN no <span class="underline text-[#172177]"><a href="https://docs.google.com/document/d/16s-oV1cZlzPpp4eFs3f9EEmPuQBqRBJqw4-t82bzolM/edit" target="_blank">(as per the prescribed format is mandatory</span>).</a></li><li>Scanned Passbook Front Page</li><li>Account statement till 31 March 2023</li><li><span class="underline text-[#172177]"><a href="https://docs.google.com/spreadsheets/d/1oYr7nN5xWuy6zRkLjdebT5zFrX_eU-Yjh9n82hJMu1I/edit" target="_blank">IEDC Action Plan 2023 - 2024 (as per the prescribed format with details of expenditure)</span></a>. (Should be submitted when requested)</li><li>Declaration in College letterhead <span class="underline text-[#172177]"><a href="https://docs.google.com/document/d/148-UoLYGP9TeTAuUGnPy_s8Rin2fD_QcpiGOY0WkXIc/edit" target="_blank">(as per the prescribed format is mandatory)</span></a>.</li>           </div>
        </div>
        <div
        class="fund-links mx:auto md:grid md:gap-6 lg:grid-cols-4 lg:grid-rows-3 md:grid-rows-4 md:grid-cols-3 place-content-center p-7"
      >
        <Card
          title="Fund Request Submitted IEDCs"
          href="#"
        />
             
        <Card title="List of Startups / IPs from IEDC" href="#" />
        <Card title="Count of Startups from IEDCs" href="#" />
        <Card title="Execom List Submitted IEDCs" href="#" />


        <Card title="IEDC Action Plan Template" href="#" />
        <Card title="IEDC Execom Template" href="#" />
        <Card title="IEDC Point of Contact Details Template" href="#" />
        <Card
          title="IEDC Fund Utilization Guideline"
          href="#"
        />
        <Card title="Utilization Certificate - Format" href="#" />
        <Card title="Expenditure Statement - Template" href="#" />
        <Card title="Government Orders" href="#" />
        <Card title="Declaration in college letter head - Format" href="#" />
      </div>


      </div>
    </div>
  </section>
</Layout>


  <style>
    .funds {
      margin-top: -25px;
      background-color: #fcfcfc;
    }
    .notes-sub {
      /* box-shadow:
  4.6px 4.6px 8.5px rgba(0, 0, 0, 0.137),
  15px 15px 28.6px rgba(0, 0, 0, 0.154),
  100px 100px 128px rgba(0, 0, 0, 0.1)
;
     */
     -webkit-box-shadow: 7px 6px 13px -1px rgba(184,184,184,1);
-moz-box-shadow: 7px 6px 13px -1px rgba(184,184,184,1);
box-shadow: 7px 6px 13px -1px rgba(184,184,184,1);

    }
    .notes-triangle {
      width: 0;
height: 0;
border-style: solid;
border-width: 25px 25px 0 0;
border-color:   #004C9F transparent;
top:0;
position:absolute; 
left:0;
box-shadow: 7px 6px 13px -1px rgba(184,184,184,1);
  }
  </style>


<script is:inline>
  document.querySelectorAll(".read-button").forEach(function(button) {
      button.addEventListener("click", function() {
          this.classList.toggle("active");
  
          
  
          if (document.querySelectorAll(".read-button.active").length > 0) {
              document.querySelectorAll(".toggle_text").forEach(function(text) {
                  text.textContent = "Read Less";
                  document.getElementById('arrow-svg').style.transform = `rotate(${180}deg)`;
                  document.querySelectorAll(".more").forEach(function(div) {
              div.classList.toggle("visible");
              div.classList.remove("hidden")
          });
              });
          } else {
              document.querySelectorAll(".toggle_text").forEach(function(text) {
                  text.textContent = "Read More";
                  document.getElementById('arrow-svg').style.transform = `rotate(${0}deg)`;
                  document.querySelectorAll(".more").forEach(function(div) {
              div.classList.toggle("hidden");
              div.classList.remove("visible")
          });
              });
          }
      });
  });
  
  </script>

