---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="IEDC Kerala Startup Mission - Schemes">
  <section class="schemes relative z-[30]">
    <!-- <div class="schems-bg">
      <img src="schemes-bg.png " class="w-full h-96 object-cover" alt="" />
    </div>
    <h1 class="text-center text-4xl font-semibold p-7 pb-1 mt-3">
      INNOVATION GRANT
    </h1>
    <hr class="w-[4%] md:w-[2%] h-[4px] bg-[#0072B6] mx-auto mb-5" /> -->
    <div
      class="relative scheme-bg p-10 h-[500px] flex justify-center items-center flex-col"
    >
      <h1
        class="text-center font-semibold text-white text-5xl md:text-6xl mb-3 relative"
      >
        INNOVATION GRANT
      </h1>
      <hr class="w-[4%] h-[4px] bg-[#00BABE] mx-auto mb-5 border-none" />
    </div>

    <div class="grants md:flex rounded-2xl relative z-20">
      <div class="my-auto md:w-1/2 p-7 rounded-lg">
        <h1 class="text-left font-semibold text-2xl">Introduction</h1>

        <p class="leading-8 mt-4">
          Technological changes through innovations and R&D has been the main
          driving force for increased productivity, economic growth, and social
          transformation and for reshaping and redefining every sphere of our
          lives. Hence innovations are being extensively promoted globally.
          Govt. of Kerala has introduced the Scheme, Innovation Grant and the
          following types of Innovation Grants are given to encourage
          innovations.
        </p>
      </div>
      <div class="md:w-1/2 py-7 px-14">
        <h1 class="text-center text-2xl mb-1">TYPES OF GRANTS</h1>
        <hr class="w-[2%] h-[4px] bg-[#0072B6] mx-auto" />

        <ul>
          <li class="my-3">
            <svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg>
            <div>
              <h2 class="font-semibold text-xl">IDEA</h2>
              <p class="ml-6">
                Idea Grant will be primarily for Students for conversion of
                prototype to MVP and is limited to Rs. 2 lakhs/idea
              </p>
            </div>
          </li>
          <li class="my-3">
            <svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg>
            <div>
              <h2 class="font-semibold text-xl">PRODUCTIZATION</h2>
              <p class="ml-6">
                Productization grant is to convert the MVP into a product and is
                limited to a maximum Rs. 7 lakhs/idea.
              </p>
            </div>
          </li>
          <li class="my-3">
            <svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg>
            <div>
              <h2 class="font-semibold text-xl">SCALE UP</h2>
              <p class="ml-6">
                Scale up Grant helps startups with product revenue/investments
                to scale their business to next level, and is limited to maximum
                of Rs. 12 lakhs/idea.
              </p>
            </div>
          </li>
          <li class="my-3">
            <svg
              class="float-left mt-2 mr-3"
              xmlns="http://www.w3.org/2000/svg"
              width="10.605"
              height="15.555"
            >
              <path
                d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828"
                fill="#172177"></path>
            </svg>
            <div>
              <h2 class="font-semibold text-xl">R&D</h2>
              <p class="ml-6">
                R & D Grant (coming soon) will be given to hardware or deep tech
                Startups with working prototype/ IP, which need to developed
                into a product through R&D and is limited to Rs. 30
                lakhs/startup
              </p>
            </div>
          </li>
        </ul>
        <br />
         For More details: <a href="#" class="text-[#172177]"
          >KSUM Innovation Grant
        </a>
      </div>
    </div>
    <!-- --------------------------------------------------------------------------------------------------------Lab Support----------------------------------------------------------------------- -->

    <div class="lab-wrapper rounded-xl bg-white py-8">
      <h1 class="text-center text-4xl font-semibold p-7 pb-2 mt-3">
        Lab Support
      </h1>
      <hr class="w-[4%] md:w-[2%] h-[4px] bg-[#0072B6] mx-auto mb-5" />

      <div class="fablabs md:flex">
        <div class="md:w-1/2">
          <h1 class="text-left text-2xl font-semibold ml-6 mt-3">FABLAB</h1>
          <p class="leading-8 p-6 pt-3">
            The FABLAB programme involves setting up state-of-the-art
            Fabrication laboratories in the state to encourage startups in
            printed electronics and other such fields. KSUM has associated with
            Center for Bits and Atoms, MIT Fab Lab Foundation, USA for this. The
            Fablabs being established in Trivandrum and Ernakulam are identical
            and mainly comprises of the following inventories. More details and
            booking - <a href="http://fablabkerala.in/" class="text-[#172177]"
              >FAB KERALA <svg
                class="inline-block mb-1"
                width="20px"
                height="20px"
                viewBox="-1.92 -1.92 27.84 27.84"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                  <path
                    d="M20 4L12 12M20 4V8.5M20 4H15.5M19 12.5V16.8C19 17.9201 19 18.4802 18.782 18.908C18.5903 19.2843 18.2843 19.5903 17.908 19.782C17.4802 20 16.9201 20 15.8 20H7.2C6.0799 20 5.51984 20 5.09202 19.782C4.71569 19.5903 4.40973 19.2843 4.21799 18.908C4 18.4802 4 17.9201 4 16.8V8.2C4 7.0799 4 6.51984 4.21799 6.09202C4.40973 5.71569 4.71569 5.40973 5.09202 5.21799C5.51984 5 6.07989 5 7.2 5H11.5"
                    stroke="#6e6e6e"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </g></svg
              ></a
            >
          </p>
        </div>
        <div class="md:w-1/2 fab-img">
          <img src="fablab.png" class="h-auto rounded-lg mx-auto m-8" alt="" />
        </div>
      </div>

      <div class="fablabs md:flex md:flex-row-reverse mt-9">
        <div class="md:w-1/2">
          <h1 class="text-left text-2xl font-semibold ml-6 mt-3">
            FUTURE TECHNOLOGIES LAB
          </h1>
          <p class="leading-8 p-6 pt-3">
            Future Technologies Lab is an initiative by Kerala Startup Mission
            to provide necessary tools, equipments and infrastructure for
            Research & Development of emerging technologies and serves as a
            platform to introduce it to startups and students. The current key
            focus areas for Innovation and Research at Future Technologies Lab
            are:
            <div class="flex">
              <ul class="list-decimal pl-8 w-1/2">
                <li class="my-2">
                  Virtual Reality (VR) and Augmented Reality (AR)
                </li>
                <li class="my-2">Artificial Intelligence (AI)</li>
                <li class="my-2">Robotics</li>
                <li class="my-2">Brain Computer Interface</li>
              </ul>

              <br />
              <div class="w-1/2 mx-10 px-4 py-3 my-auto border rounded-lg">
                More details:- <br />
                <a
                  href="https://startupmission.kerala.gov.in/pages/futuretechnologieslabdetails"
                  class="text-[#172177]"
                  >Future Technologies Details <svg
                    class="inline-block mb-1"
                    width="20px"
                    height="20px"
                    viewBox="-1.92 -1.92 27.84 27.84"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <path
                        d="M20 4L12 12M20 4V8.5M20 4H15.5M19 12.5V16.8C19 17.9201 19 18.4802 18.782 18.908C18.5903 19.2843 18.2843 19.5903 17.908 19.782C17.4802 20 16.9201 20 15.8 20H7.2C6.0799 20 5.51984 20 5.09202 19.782C4.71569 19.5903 4.40973 19.2843 4.21799 18.908C4 18.4802 4 17.9201 4 16.8V8.2C4 7.0799 4 6.51984 4.21799 6.09202C4.40973 5.71569 4.71569 5.40973 5.09202 5.21799C5.51984 5 6.07989 5 7.2 5H11.5"
                        stroke="#6e6e6e"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g></svg
                  >
                </a>
                <br />
                <a
                  href="https://startupmission.kerala.gov.in/pages/futuretechnologieslab"
                  class="text-[#172177]"
                  >Future Technologies Lab <svg
                    class="inline-block mb-1"
                    width="20px"
                    height="20px"
                    viewBox="-1.92 -1.92 27.84 27.84"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                      id="SVGRepo_tracerCarrier"
                      stroke-linecap="round"
                      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                      <path
                        d="M20 4L12 12M20 4V8.5M20 4H15.5M19 12.5V16.8C19 17.9201 19 18.4802 18.782 18.908C18.5903 19.2843 18.2843 19.5903 17.908 19.782C17.4802 20 16.9201 20 15.8 20H7.2C6.0799 20 5.51984 20 5.09202 19.782C4.71569 19.5903 4.40973 19.2843 4.21799 18.908C4 18.4802 4 17.9201 4 16.8V8.2C4 7.0799 4 6.51984 4.21799 6.09202C4.40973 5.71569 4.71569 5.40973 5.09202 5.21799C5.51984 5 6.07989 5 7.2 5H11.5"
                        stroke="#6e6e6e"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    </g></svg
                  >
                </a>
              </div>
            </div>
          </p>
        </div>
        <div class="md:w-1/2 p-6 fab-img">
          <img
            src="ftlab.png"
            class="h-auto md:h-72 rounded-lg mx-auto m-8"
            alt=""
          />
        </div>
      </div>
    </div>


    <div class="patent-scheme  md:flex">
      <!-- <div class="hidden md:block  h-56 p-10">
        <img src="patent.jpg" class="patent-img h-48 w-auto object-fit right-0" alt="">
      </div> -->
      
    <div class=" md:w-1/2  p-8">
      <h1 class="text-2xl font-semibold ">PATENT REIMBURSEMENT SCHEME </h1>
      <p class="py-5">In order to provide support  to student entrepreneurs who are able to secure a patent, the patent application cost will be reimbursed.
      
      <h2 class="font-semibold text-lg">Guidelines</h2>
      Details of the scheme are as follows:
          <ul class=" list-[circle]">
           
            <li class="mx-5">Grant to 50 student entrepreneurs in the state, securing the patent</li>
            <li class="mx-5">Interest subsidy for 5 years for loans availed from any bank for implementation of a project based on the patent
            </li >
            <li class="mx-5">Educational assistance up to Rs. 3 lakhs per year for continuing post graduate studies or research for a period of three years.
            </li>
          </ul>
          
      </p>
      <br>
      More Details: <a
      href="https://startupmission.kerala.gov.in/pages/patent"
      class="text-[#172177]"
      >KSUM Patent Scheme<svg
        class="inline-block mb-1"
        width="20px"
        height="20px"
        viewBox="-1.92 -1.92 27.84 27.84"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M20 4L12 12M20 4V8.5M20 4H15.5M19 12.5V16.8C19 17.9201 19 18.4802 18.782 18.908C18.5903 19.2843 18.2843 19.5903 17.908 19.782C17.4802 20 16.9201 20 15.8 20H7.2C6.0799 20 5.51984 20 5.09202 19.782C4.71569 19.5903 4.40973 19.2843 4.21799 18.908C4 18.4802 4 17.9201 4 16.8V8.2C4 7.0799 4 6.51984 4.21799 6.09202C4.40973 5.71569 4.71569 5.40973 5.09202 5.21799C5.51984 5 6.07989 5 7.2 5H11.5"
            stroke="#6e6e6e"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </a>
      
    </div>

    <div class="fellowship md:w-1/2 p-8">
      <h1 class="text-2xl font-semibold ">FELLOWSHIP PROGRAM </h1>

      <p class="py-4">
        Government of Kerala is offering a one-year fellowship to experienced professionals and motivated youngsters interested in contributing to the Government's mission of making Kerala a vibrant hub of tech startups and talent pool skilled in emerging technologies.
          <br>Contact number : 0471-2700270
      </p>
      <br>
      More Details: <a
      href="https://startupmission.kerala.gov.in/tifp/"
      class="text-[#172177]"
      >KSUM Fellowship Program<svg
        class="inline-block mb-1"
        width="20px"
        height="20px"
        viewBox="-1.92 -1.92 27.84 27.84"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
          <path
            d="M20 4L12 12M20 4V8.5M20 4H15.5M19 12.5V16.8C19 17.9201 19 18.4802 18.782 18.908C18.5903 19.2843 18.2843 19.5903 17.908 19.782C17.4802 20 16.9201 20 15.8 20H7.2C6.0799 20 5.51984 20 5.09202 19.782C4.71569 19.5903 4.40973 19.2843 4.21799 18.908C4 18.4802 4 17.9201 4 16.8V8.2C4 7.0799 4 6.51984 4.21799 6.09202C4.40973 5.71569 4.71569 5.40973 5.09202 5.21799C5.51984 5 6.07989 5 7.2 5H11.5"
            stroke="#6e6e6e"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </a>
      
      </div>
    </div>
  </section>
</Layout>

<style>
  .schemes {
    background-color: #fcfcfc;
  }
  .scheme-bg {
    background-image: url('schemes-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .fab-img img {
  }
  .patent-img{
    border-radius: 0% 100% 0% 100% / 45% 32% 25% 55%;
    padding-right: 0;
  }
  .lab-wrapper{
    box-shadow: 1px 1px 10px 1px lightgrey;
  }
</style>
